<p style="color: green"><%= notice %></p>
<% if logged_in? && current_user.id == session[:user_id]%>
  <%= link_to "Створити допис", new_user_post_path(current_user), class: "btn btn-dark mb-3" %>
<% end %>

<h4><strong>Всі пости:</strong></h4>

<% if @posts.any?%>
  <div id="posts">
    <% @posts.each do |post| %>
      <%= render post %>
      <p>
        <%= link_to "Переглянути", post_path(post), class: "btn" %>
      </p>
    <% end %>
  </div>
<% else %>
  <p>Постів ще немає...</p>
<% end %>
