<h1>Editing trade</h1>

<%= render "form", trade: @trade %>

<br>

<div>
  <%= link_to "Show this trade", user_trade_path, class: 'btn btn-dark mt-3'  %> |
  <%= link_to "Back to trades", user_trades_path, class: 'btn btn-dark mt-3'  %>
</div>