<p style="color: green"><%= notice %></p>

<h1>Posts</h1>
<% if @posts.any?%>
  <div id="posts">
    <% @posts.each do |post| %>
      <%= render post %>
      <p>
        <%= link_to "Show this post", post %>
      </p>
    <% end %>
  </div>
<% else %>
  <p>No posts</p>
<% end %>
<%= link_to "New post", new_post_path %>
